.featured-container {
  text-align: center;
}

.featured-biz-card {
  margin: 10px;
  border: 1px solid black;
}

.featured-card-img {
  // flex: 0 1 auto;
  max-width: 600px;
  width: 75%;
  height: auto;
}